<ion-header style="z-index: unset;" >
	<ion-toolbar>
		<ion-buttons slot="start">
		  <ion-menu-button style="color:red"></ion-menu-button>
		</ion-buttons>
		<img *ngIf="lang_code == 'hi' " src="assets/images/logo-2.png" class="main-logo" style="margin-top: -18px;" [routerLink]="['/home-new']">
		<img *ngIf="lang_code == 'en' " src="assets/images/logo_english.png" class="main-logo" style="margin-top: -18px; width:100px;" [routerLink]="['/home-new']">
		<!-- <ion-icon name="cart" color="danger" slot="end" style="font-size: 27px;"></ion-icon> -->
		
		<ion-buttons slot="end">
			<ion-icon name="arrow-back" style="font-size: 27px;color:red" onclick="self.history.back(-1)"></ion-icon>
		</ion-buttons>
	</ion-toolbar>
	
</ion-header>
<ion-content>
	<ion-row style="position: sticky;top: 0px;">
		<img  src="assets/images/siddhpuja.jpg">
		<span class="top_img" >{{menu_nm}}</span>
	</ion-row>
	<iframe *ngIf="lang_code == 'hi'" src="https://siddhpuja.com/Admin/calender/fullcalendar_master/calender.php" class="ifrm"></iframe>
	<iframe *ngIf="lang_code != 'hi'" src="https://siddhpuja.com/Admin/calender/fullcalendar_master/calender_english.php" class="ifrm"></iframe>
	
</ion-content>

