<ion-header>
	<ion-toolbar >
		<ion-buttons slot="start">
			<ion-menu-button style="color:red"></ion-menu-button>
		</ion-buttons>
		<img src="assets/images/logo-2.png" class="main-logo" [routerLink]="['/home-new']">

		<!-- <ion-icon name="cart" color="danger" slot="end" style="font-size: 27px;"></ion-icon> -->
		
	</ion-toolbar>
</ion-header>

<ion-content>

<img *ngIf = "menu_nm == 'सिद्धपूजा' " src="assets/images/11.jpg">

<div *ngIf = "menu_nm != 'सिद्धपूजा'">
<h3 style="color:red;text-align:center;" >{{ menu_nm }}</h3>
<img class="center" src="assets/images/new_border.png" alt="">
</div>

<img id="loader_main_menu" width="100%" style="position:absolute;" src="assets/images/loader.gif" style="display:none;" />
<div class="list-button" *ngIf="error==''">
	<ion-row>
		<ion-col  style="text-align: center;" *ngFor="let sub_menu of sub_menu_data" size="4" [routerLink]="['/sub-menu-page',sub_menu.id]">
			<img class="thumbnail imghome" src="{{sub_menu.image}}">
			<h6 class="hometxt-homepage" >{{sub_menu.name}}</h6>
		</ion-col >
	</ion-row>

</div>
<div  style="text-align: center;margin-top:25px" class="list-button" *ngIf="error!='' ">
	<p>{{error}}</p>

</div>

</ion-content>

