ion-slide {
  height: calc(100vh - 140px);
}
.ion-color-warning {
--ion-color-base: #ff5400 !important;
}
.img_rashi{
	width: 80%;
}


div.swiper-scrollbar {
  display: none !important;
  overflow: hidden;
  
}