<ion-header>
	<ion-toolbar>
    
		<ion-buttons slot="start">
      <ion-menu-button style="color:red"></ion-menu-button>
    </ion-buttons>
    <img *ngIf="language == 'hi' " src="assets/images/logo-2.png" class="main-logo" style="margin-top: -18px;" [routerLink]="['/home-new']">
		<img *ngIf="language == 'en' " src="assets/images/logo_english.png" class="main-logo" style="margin-top: -18px; width:100px;" [routerLink]="['/home-new']">
		<!-- <ion-icon name="cart" color="danger" slot="end" style="font-size: 27px;"></ion-icon> -->
	</ion-toolbar>
</ion-header>


<ion-content>

  <div style="margin-top: 20px;">
    <ion-row>
          <ion-col style="text-align: right;">
            <b>Welcome to</b>
          </ion-col>
          <ion-col style="text-align: left;">
          <img src="assets/images/logo-2.png" class="sp-logo">
          </ion-col>
        </ion-row>
    <p style="font-size: 20px;
    text-align: center;">Enter your registered email id</p>
</div>



     


  <form name="form" (ngSubmit)="frm.form.valid && forgot_form(frm)" #frm="ngForm" method="post" novalidate class="form_sign">

        
      
        <ion-row>
          <ion-col style="text-align: center;color:grey;">
           <b>Forgot password</b>
          </ion-col>
        </ion-row>


        <div class="form-group">
        <ion-row class="email_cls">   
           <ion-col size="1">
            <fa-icon class="icon_c" icon="envelope" ></fa-icon>
          </ion-col>
          <ion-col >
            <input  type="text" name="email" class="form-control" ngModel placeholder="Email" #email="ngModel" [ngClass]="{ 'is-invalid': frm.submitted && email.invalid }" required email>
	        </ion-col>
	        </ion-row>
            <div *ngIf="frm.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required" style="color:red;">Email is required</div>
              <div *ngIf="email.errors.email" style="color:red;">Email must be a valid email address</div>
            </div>
          </div>
      
            
        <button type="submit" class="loginbtn" style="margin-top: 35px;">Submit</button>
                
    </form>
</ion-content>

