<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button style="color:red"></ion-menu-button>
		</ion-buttons>
		<img *ngIf="language == 'hi' " src="assets/images/logo-2.png" class="main-logo" style="margin-top: -18px;" [routerLink]="['/home-new']">
		<img *ngIf="language == 'en' " src="assets/images/logo_english.png" class="main-logo" style="margin-top: -18px; width:100px;" [routerLink]="['/home-new']">
		<!-- <ion-icon name="cart" color="danger" slot="end" style="font-size: 27px;"></ion-icon> -->
	</ion-toolbar>
</ion-header>

<ion-content>
	<div class="service-heading">	
		<h3 style="color:red;text-align:center;">{{ book_now | translate }}</h3>
		<img class="center" src="assets/images/new_border.png" alt="">
	</div>
	<div class="data-contain">
		<form>
			<h6 style="color:#ff5400">{{ name_of_puja | translate }} </h6>
			<ion-input  type="text" class="input_design" id="puja_name" value="{{puja_name}}" readonly></ion-input>
			<h6 style="color:#ff5400">{{ price_of_puja | translate }}</h6>
			<ion-input  type="text" class="input_design" value="{{puja_price}}" id="puja_price" readonly></ion-input>
			<h6 style="color:#ff5400">{{ full_name | translate }} </h6>
			<ion-input type="text" placeholder="{{ full_name | translate }}" class="input_design"  id="name" required ></ion-input>
			<div style="display:none;" id="ename">
				<div style="color:red">*{{ full_name | translate }}  {{ required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ birth_date | translate }} </h6>
			<ion-datetime displayFormat="DD - MM - YY" placeholder="{{ birth_date | translate }}" display-timezone="utc" id="bdate" class="input_design" required></ion-datetime>
			<div style="display:none;" id="edob">
				<div style="color:red">* {{ birth_date_req | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ birth_time | translate }}</h6>
			<ion-datetime displayFormat="HH:mm" placeholder="{{ birth_time | translate }}" id="btime" class="input_design" required></ion-datetime>
			<div style="display:none;" id="etime">
				<div style="color:red">* {{ birth_time_req | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ birth_place | translate }} ( {{ city | translate }} , {{ state | translate }} )</h6>
			<ion-input type="text" placeholder="" class="input_design" required  id="bplace"></ion-input>
			<div style="display:none;" id="eplace">
				<div style="color:red">* {{ birth_place_req | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ father_name | translate }} </h6>
			<ion-input type="text" placeholder="{{ father_name | translate }}" class="input_design"  id="fname" required ></ion-input>
			<div style="display:none;" id="efname">
				<div style="color:red">*{{ father_name | translate }} {{ required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ mother_name | translate }} </h6>
			<ion-input type="text" placeholder="{{ mother_name | translate }}" class="input_design"  id="mname" required ></ion-input>
			<div style="display:none;" id="emname">
				<div style="color:red">*{{ mother_name | translate }} {{ required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ gotra | translate }} ( {{ gotra_msg | translate }} ) </h6>
			<ion-input type="text" placeholder="{{ gotra | translate }}" class="input_design"  id="gotra" ></ion-input>
			
			<h6 style="color:#ff5400">{{ extra_detail | translate }}</h6>
			<ion-textarea rows="6" cols="20" placeholder="( {{ extra_detail_place | translate }} )" class="input_design"  id="add_info" ></ion-textarea >
			<center style="color:chocolate"><h3>{{ billing_detail | translate }}</h3></center>
			<h6 style="color:#ff5400">{{ email_id | translate }}</h6>
			<ion-input type="text" placeholder="{{ email_id | translate }}" class="input_design" required id="email"></ion-input>
			<div style="display:none;" id="eemail">
				<div style="color:red">* {{ valid_email | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ mobile_no | translate }}</h6>
			<ion-input type="number" placeholder="{{ mobile_no | translate }}" class="input_design" required id="mobile"></ion-input>
			<div style="display:none;" id="emobile">
				<div style="color:red">*{{ valid_mobile_no | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ address | translate }}</h6>
			<ion-input type="text" placeholder="{{ address_place | translate }}" class="input_design" required  id="address"></ion-input>
			<div style="display:none;" id="eaddress">
				<div style="color:red">* {{ address | translate }} {{ required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ city | translate }}</h6>
			<ion-input type="text" placeholder=" {{ city | translate }}" class="input_design" required  id="city"></ion-input>
			<div style="display:none;" id="ecity">
				<div style="color:red">* {{ city | translate }} {{ required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ state | translate }}</h6>
			<ion-input type="text" placeholder=" {{ state | translate }}" class="input_design" required  id="state"></ion-input>
			<div style="display:none;" id="estate">
				<div style="color:red">* {{ state | translate }} {{ required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{ country | translate }}</h6>
			<ion-input type="text" placeholder=" {{ country | translate }}" class="input_design" required  id="country"></ion-input>
			<div style="display:none;" id="ecountry">
				<div style="color:red">* {{  country | translate }} {{  required | translate }}</div>
			</div>
			<h6 style="color:#ff5400">{{  postcode | translate }}/{{  zip | translate }}</h6>
			<ion-input type="text" placeholder="  {{ postcode | translate }} /  {{ zip | translate }}" class="input_design" required  id="zip"></ion-input>
			<div style="display:none;" id="ezip">
				<div style="color:red">* {{  postcode | translate }} / {{  zip | translate }} {{  required | translate }}</div>
			</div>
			
			<br>
			<center><ion-button class="book_now" type="submit" (click)="book_puja()">{{ book_now | translate }}</ion-button></center>
		</form>
	</div>
</ion-content>
<!-- <ion-footer color="warning">
  <ion-toolbar>
    <ion-row>
		<ion-col style="text-align: center;">
			<a href="tel:+918989153379"><ion-button style="--background: orange;--color: green;"><ion-icon name='call' ></ion-icon><span style="color:white;"> CALL US</span></ion-button></a>
		</ion-col>
		<ion-col style="text-align: center;">
			<a href="whatsapp://send?phone=+918989153379"><ion-button style="--background: orange;--color: green;"><ion-icon name='logo-whatsapp'></ion-icon><span style="color:white;"> WHATSUP</span></ion-button></a>
		</ion-col>
	</ion-row>
  </ion-toolbar>
</ion-footer> -->